// Settings
// Adjust any of these variables to your liking, or don't. :-)

// Container Max Width
$container-max-width: 100% !default;

// Max-width of rows
$row-max-width: 75rem !default;

// Max number of block grids
$max-block-grid: 12 !default;

// Column Padding
$col-padding: 0.80rem !default;

// Flex Basis Value
$flex-basis: auto !default;

// Medium Breakpoint Size
// ( Use an em or rem value only for offsets to work correctly)
$medium-breakpoint: 64em !default;

// Small Breakpoint Size
// ( Use an em or rem value only for offsets to work correctly)
$small-breakpoint: 43em !default;
