// Settings
// Adjust any of these variables to your liking, or don't. :-)

// Max-width of rows
$row-max-width: 75rem;

// Column Padding
$col-padding: 0.80rem;

// Flex Basis Value
$flex-basis: auto;

// Mobile Breakpoint Size
$mobile-breakpoint: 40em;
