// Columns

// Base column styles
*[class*=" col-"], *[class*=" sm-col-"]{
  flex: 0 1 $flex-basis;
  box-sizing: border-box;
  padding-left: $col-padding;
  padding-right: $col-padding;
  min-width: 0;
}

@for $i from 1 through 12 {
    $flex-basis: 8.333333% * $i;
    .col-#{$i} {
        flex-basis: $flex-basis;
    }
}

// Small Breakpoint Adjustments
@media screen and (max-width: $small-breakpoint){

  // default columns go full width
  *[class^="col-"]{
    flex: 1 1 $flex-basis;
    flex-basis: 100%;
  }

  // small columns (.sm-col-6, etc.)
  @for $i from 1 through 12 {
    $flex-basis: 8.333333% * $i;
    .sm-col-#{$i} {
        flex-basis: $flex-basis;
    }
  }
}
