// Columns

// Base column styles
*[class^="col-"]{
  flex: 0 1 $flex-basis;
  box-sizing: border-box;
  padding-left: $col-padding;
  padding-right: $col-padding;
  overflow: hidden;
  min-width: 0;
}

@for $i from 1 through 12 {
    $flex-basis: 8.333333% * $i;
    .col-#{$i} {
        flex-basis: $flex-basis;
    }
}

// Mobile Breakpoint Adjustments
@media screen and (max-width: $mobile-breakpoint){
  *[class^="col-"]{
    flex: 1 1 $flex-basis;
    flex-basis: 100%;
    box-sizing: border-box;
  }
}
