// Columns

// Base column styles
*[class^="col-"]{
  flex: 0 1 $flex-basis;
  box-sizing: border-box;
}

// 12 Columns
.col-12{
  width: 100%;
}

// 11 Columns
.col-11{
  width: 91.66666%;
}

// 10 Columns
.col-10{
  width: 83.33333%;
}

// 9 Columns
.col-9{
  width: 75%;
}

// 8 Columns
.col-8{
  width: 66.66666%;
}

// 7 Columns
.col-7{
  width: 58.33333%;
}

// 6 Columns
.col-6{
  width: 50%;
}

// 5 Columns
.col-5{
  width: 41.66666%;
}

// 4 Columns
.col-4{
  width: 33.33333%;
}

// 3 Columns
.col-3{
  width: 25%;
}

// 2 Columns
.col-2{
  width: 16.66666%;
}

// 1 Columns
.col-1{
  width: 8.33333%;
}

// Mobile Breakpoint Adjustments
@media screen and (max-width: $mobile-breakpoint){
  *[class^="col-"]{
    width: 100%;
    flex: 1 1 $flex-basis;
    box-sizing: border-box;
  }
}
