// Container
$flex-wrap       : nowrap     !default;
$flex-direction  : column     !default;
$justify-content : flex-start !default;
$align-items     : center     !default;
$align-content   : flex-start !default;

.container {
  position        : relative;
  width           : 100%;
  display         : flex;
  flex-wrap       : $flex-wrap;
  flex-direction  : $flex-direction;
  justify-content : $justify-content;
  align-items     : $align-items;
  align-content   : $align-content;

  &--wrap {
    flex-wrap : wrap;
  }

  &--direction-row {
    flex-direction : row;
  }

  // justify classes
  &--justify-content-center {
    justify-content : center;
  }

  &--justify-content-end {
    justify-content : flex-end;
  }

  &--justify-content-space-between {
    justify-content: space-between;
  }

  &--justify-content-space-around {
    justify-content : space-around;
  }

  // align classes
  &--align-items-start {
    align-items : flex-start;
  }

  &--align-items-end {
    align-items : flex-end;
  }

  &--align-items-baseline {
    align-items : baseline;
  }

  &--align-items-stretch {
    align-items : stretch;
  }

  &--align-content-center {
    align-content : center;
  }

  &--align-content-end {
    align-content : flex-end;
  }

  &--align-content-space-between {
    align-content : space-between;
  }

  &--align-content-space-around {
    align-content : space-around;
  }

  &--align-content-stretch {
    align-content : stretch;
  }

}
