// Extras!
// extra classes that can help the layout of a page

// Text Alignments
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

// Center A Column
.col-centered{
  margin: 0 auto;
}
