// Row
$row-flex-wrap       : wrap !default;
$row-flex-direction  : row !default;
$row-justify-content : space-between !default;
$row-align-items     : flex-start !default;
$row-align-content   : flex-start !default;

.row{
  flex            : 0 1 $flex-basis;
  width           : 100%;
  max-width       : $row-max-width;
  position        : relative;
  display         : flex;
  flex-wrap       : $row-flex-wrap;
  flex-direction  : $row-flex-direction;
  justify-content : $row-justify-content;
  align-items     : $row-align-items;
  align-content   : $row-align-content;

  &--no-wrap {
    flex-wrap : nowrap;
  }

  &--direction-row {
    flex-direction : row;
  }

  // justify classes
  &--justify-content-center {
    justify-content : center;
  }

  &--justify-content-start {
    justify-content : flex-start;
  }

  &--justify-content-end {
    justify-content : flex-end;
  }

  &--justify-content-space-around {
    justify-content : space-around;
  }

  // align classes
  &--align-items-start {
    align-items : flex-start;
  }

  &--align-items-end {
    align-items : flex-end;
  }

  &--align-items-baseline {
    align-items : baseline;
  }

  &--align-items-stretch {
    align-items : stretch;
  }

  &--align-content-center {
    align-content : center;
  }

  &--align-content-end {
    align-content : flex-end;
  }

  &--align-content-space-between {
    align-content : space-between;
  }

  &--align-content-space-around {
    align-content : space-around;
  }

  &--align-content-stretch {
    align-content : stretch;
  }
}
